apscheduler==3.11.0
coverage==7.3.4
discord.py==2.3.2
dpytest==0.7.0
isort==5.12.0
mdformat==0.7.17
parameterized==0.9.0
pylint==2.17.4
pytest==7.4.0
pytest-asyncio==0.23.2
pytest-cov==4.1.0
python-dotenv==1.0.0